[
    {
        "control": [
            "https://control.ua/ua/infiray-iray-tube-th50.html",
            "https://control.ua/ua/dali-technology-s253h.html",
            "https://control.ua/ua/infiray-iray-zoom-zh50-v2.html",
            "https://control.ua/ua/rattler-ts35-384.html",
            "https://control.ua/ua/dahua-dahua-pfi-r435.html",
            "https://control.ua/ua/infiray-iray-rico-rl42r.html",
            "https://control.ua/ua/fuzion-lrf-tm25-384.html",
            "https://control.ua/ua/infiray-iray-xholo-hl-25.html",
            "https://control.ua/ua/infiray-iray-geni-gl35r.html",
            "https://control.ua/ua/fuzion-tm35-384.html",
            "https://control.ua/ua/varmint-lrf-ts50-384.html",
            "https://control.ua/ua/agm-sidewindertm35-640.html",
            "https://control.ua/ua/agm-rattler-v235-640.html",
            "https://control.ua/ua/infiray-iray-unique-uh50.html",
            "https://control.ua/ua/hikmicro-hikmicro-gryphon-gh25.html",
            "https://control.ua/ua/agm-clarion-640.html",
            "https://control.ua/ua/infiray-iray-xholo-hl13.html",
            "https://control.ua/ua/infiray-iray-xeye-e3.html",
            "https://control.ua/ua/agm-sidewindertm35-384.html",
            "https://control.ua/ua/agm-voyagelrffb50-640.html",
            "https://control.ua/ua/infiray-iray-affo-al-19.html",
            "https://control.ua/ua/infiray-iray-mini-mh25.html",
            "https://control.ua/ua/cyclops-cp325pro.html",
            "https://control.ua/ua/agm-rattler-v2-35-384.html",
            "https://control.ua/ua/agm-seeker-19-384.html",
            "https://control.ua/ua/agm-rattler-v225-256.html",
            "https://control.ua/ua/agm-agm-rattler-tc35-384.html",
            "https://control.ua/ua/agm-asp-micro-tm160y.html",
            "https://control.ua/ua/dali-technology-s236lrf.html",
            "https://control.ua/ua/infiray-iray-saim-sch50.html",
            "https://control.ua/ua/agm-voyagelrffb75-640.html",
            "https://control.ua/ua/agm-rattler-v2-25-384.html",
            "https://control.ua/ua/infiray-iray-tube-th35.html",
            "https://control.ua/ua/fuzion-lrf-tm35-640.html",
            "https://control.ua/ua/teplovizionnyj-pricel-agmrattler-v225-320.html",
            "https://control.ua/ua/infiray-iray-unique-uh35.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-agm-taipanv2-15-384.html",
            "https://control.ua/ua/inr21700-4000mah-40a-60s.html",
            "https://control.ua/ua/taipan-tm25-384.html",
            "https://control.ua/ua/agm-reach-irlrf50-640.html",
            "https://control.ua/ua/infiray-iray-xeye-2-e3-max-v2.html",
            "https://control.ua/ua/cyclops-cp650pro.html",
            "https://control.ua/ua/bispektralnyj-binokulyar-agmobservirlrf25-256.html",
            "https://control.ua/ua/infiray-iray-saim-scl35.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-agm-taipanv2-25-384.html",
            "https://control.ua/ua/irtech-teplovizionnyj-monokulyar-irtech-s243w-384-15-mm.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-agm-taipanv2-19-384.html",
            "https://control.ua/ua/infiray-iray-xeye-2-e6-v2.html",
            "https://control.ua/ua/teplovizionnyj-pricel-agmsecutorlrf75-640.html",
            "https://control.ua/ua/thermeye-vidar-335.html",
            "https://control.ua/ua/agmrattlerv3lrf50-640.html",
            "https://control.ua/ua/varmint-lrf-ts35-640.html",
            "https://control.ua/ua/infiray-iray-rico-rh50.html",
            "https://control.ua/ua/agmrattler-v250-640.html",
            "https://control.ua/ua/agmobservirlrf35-384.html",
            "https://control.ua/ua/infiray-iray-xholo-hp-13.html",
            "https://control.ua/ua/infiray-iray-cabin-cbl19.html",
            "https://control.ua/ua/infiray-iray-finder-fh25r.html",
            "https://control.ua/ua/agm-adder-ts35-640.html",
            "https://control.ua/ua/infiray-iray-zoom-zh50.html",
            "https://control.ua/ua/infiray-iray-xeye-2-e6-plus-v3.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-agmtaipanv210-256.html",
            "https://control.ua/ua/rattler-ts19-256.html",
            "https://control.ua/ua/agm-rattler-tc50-640.html",
            "https://control.ua/ua/agm-varmintv2lrf50-64.html",
            "https://control.ua/ua/rattler-ts25-256.html",
            "https://control.ua/ua/irtech-teplovizionnyj-monokulyar-irtech-s1-240-10-mm.html",
            "https://control.ua/ua/thm-3.html",
            "https://control.ua/ua/infiray-iray-affo-al-25.html",
            "https://control.ua/ua/hikmicro-hikmicro-gryphon-gh35.html",
            "https://control.ua/ua/infiray-iray-xeye-e2n.html",
            "https://control.ua/ua/taipan-tm15-384.html",
            "https://control.ua/ua/infiray-iray-finder-fh25.html",
            "https://control.ua/ua/agm-rattler-ts50-640.html",
            "https://control.ua/ua/dahua-tpc-m60-b25-g.html",
            "https://control.ua/ua/infiray-iray-saim-sct35-v2.html",
            "https://control.ua/ua/agm-sidewindertm50-640.html",
            "https://control.ua/ua/infiray-iray-xeye-2-e3-max-v3.html",
            "https://control.ua/ua/fuzion-lrf-tm50-640.html",
            "https://control.ua/ua/irtech-teplovizionnyj-monokulyar-irtech-s253-384-25-mm.html",
            "https://control.ua/ua/taipan-tm15-256.html",
            "https://control.ua/ua/infiray-iray-eye-3-e3max.html",
            "https://control.ua/ua/infiray-iray-affo-ap-13.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-pixfra-dahua-pfi-a425-25mm.html",
            "https://control.ua/ua/taipan-tm10-256.html",
            "https://control.ua/ua/infiray-iray-rico-rs75.html",
            "https://control.ua/ua/varmint-lrf-ts35-384.html",
            "https://control.ua/ua/hikmicro-hm-ts03-25xgw-lh25.html",
            "https://control.ua/ua/irtech-teplovizionnyj-monokulyar-irtech-s253h-384-35-mm.html",
            "https://control.ua/ua/taipan-tm19-384.html",
            "https://control.ua/ua/infiray-iray-zoom-zl38.html",
            "https://control.ua/ua/infiray-iray-xeye-2-e3-v2.html",
            "https://control.ua/ua/infiray-iray-xeye-e2n-v2.html",
            "https://control.ua/ua/rattler-v2-19-256.html",
            "https://control.ua/ua/agm-rattler-tc19-256.html",
            "https://control.ua/ua/infiray-iray-tube-tl35.html",
            "https://control.ua/ua/dahua-tpc-m20-b10-g.html",
            "https://control.ua/ua/infiray-iray-rico-rl42.html",
            "https://control.ua/ua/infiray-iray-dv-dl13.html",
            "https://control.ua/ua/agm-voyagelrffb50-384.html",
            "https://control.ua/ua/infiray-iray-xeye-e3w.html",
            "https://control.ua/ua/gryphon-gq35.html",
            "https://control.ua/ua/infiray-iray-hybrid-hyh50w.html",
            "https://control.ua/ua/infiray-iray-fast-fal191x34d.html",
            "https://control.ua/ua/asp-micro-tm160.html",
            "https://control.ua/ua/agm-adder-v2-ts35-384.html",
            "https://control.ua/ua/infiray-iray-xholo-hl06.html",
            "https://control.ua/ua/agm-sidewindertm25-384.html",
            "https://control.ua/ua/hm-thunder-r.html",
            "https://control.ua/ua/dahua-thermal-scope-c450.html",
            "https://control.ua/ua/thermeye-cyclops-cp350d.html",
            "https://control.ua/ua/agm-seeker-25-384.html",
            "https://control.ua/ua/infiray-iray-rico-rh50r.html",
            "https://control.ua/ua/infiray-iray-zoom-zh38.html",
            "https://control.ua/ua/infiray-iray-saim-scp19.html",
            "https://control.ua/ua/infiray-iray-eye-3-e6.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-irtech-s236e-384-25-mm.html",
            "https://control.ua/ua/dahua-dahua-pfi-r425-25mm.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-agmreachirlrf35-640-1.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-agmreachirlrf25-384.html",
            "https://control.ua/ua/infiray-iray-finder-fl25.html",
            "https://control.ua/ua/fuzion-tm35-640.html",
            "https://control.ua/ua/agm-adder-ts35-384.html",
            "https://control.ua/ua/infiray-iray-xeye-2-e6-pro-v3.html",
            "https://control.ua/ua/agm-taipanv2-19-320.html",
            "https://control.ua/ua/dahua-tpc-m20-b15-g.html",
            "https://control.ua/ua/fuzion-lrf-tm35-384.html",
            "https://control.ua/ua/infiray-iray-saim-scp-19w.html",
            "https://control.ua/ua/monokulyar-nochnogo-videniya-agm-pvs-14-nl1e-fom-1800.html",
            "https://control.ua/ua/agm-adder-ts50-640.html",
            "https://control.ua/ua/infiray-iray-xeye-e3n.html",
            "https://control.ua/ua/infiray-iray-saim-scl-35w.html",
            "https://control.ua/ua/infiray-iray-finder-fl35r.html",
            "https://control.ua/ua/rattler-ts25-384.html",
            "https://control.ua/ua/teplovizionnyj-pricel-agm-adderv2-lrf-50-640.html",
            "https://control.ua/ua/infiray-iray-finder-fl25r.html",
            "https://control.ua/ua/infiray-iray-cabin-cbl25.html",
            "https://control.ua/ua/teplovoj-pricel-agmvarmintv2lrf35-640-1.html",
            "https://control.ua/ua/agm-varmint-v2lrf35-384.html",
            "https://control.ua/ua/agm-pvs-14-nw1e-fom-1800.html",
            "https://control.ua/ua/infiray-iray-mini-ml19.html",
            "https://control.ua/ua/dahua-dahua-pfi-r650-50mm.html",
            "https://control.ua/ua/dali-technology-s253.html",
            "https://control.ua/ua/teplovizionnyj-monokulyar-agmtaipanv215-256.html",
            "https://control.ua/ua/teplovizionnyj-pricel-agmsecutorlrf50-640.html",
            "https://control.ua/ua/infiray-iray-hybrid-hyh35w.html",
            "https://control.ua/ua/dahua-thermal-scope-c425.html",
            "https://control.ua/ua/agm-adder-ts50-384.html",
            "https://control.ua/ua/agm-clarion-384.html",
            "https://control.ua/ua/infiray-iray-saim-sct35.html",
            "https://control.ua/ua/agm-rattler-c-v2-50-640.html",
            "https://control.ua/ua/irtech-teplovizionnyj-monokulyar-irtech-s236-384-35-mm.html",
            "https://control.ua/ua/infiray-iray-xeye-c2w.html",
            "https://control.ua/ua/teplovoj-pricel-agmvarmintv2lrf50-384.html",
            "https://control.ua/ua/agm-nwp-2-wolf-7-pro-na-dovetail.html",
            "https://control.ua/ua/agm-voyage-tb50-384.html",
            "https://control.ua/ua/fuzion-tm25-384.html",
            "https://control.ua/ua/infiray-iray-finder-fh35r.html",
            "https://control.ua/ua/agm-seeker-15-384.html",
            "https://control.ua/ua/infiray-iray-dv-dp-09.html",
            "https://control.ua/ua/dali-technology-s243w.html",
            "https://control.ua/ua/agm-asp-tm35-384.html",
            "https://control.ua/ua/dali-technology-rs135-384.html",
            "https://control.ua/ua/dali-technology-rs335-384.html",
            "https://control.ua/ua/dahua-thermal-scope-c435.html",
            "https://control.ua/ua/infiray-iray-rico-rh35.html",
            "https://control.ua/ua/thermeye-cyclops-cp335pro.html",
            "https://control.ua/ua/infiray-iray-eye-3-e3plus.html",
            "https://control.ua/ua/varmint-lrf-ts-50-640.html",
            "https://control.ua/ua/hikmicro-hm-ts03-35xfw-oh35.html"
        ]
    }
]